<h1 class="text-center text-2xl">Signup</h1>
<form
  #signupForm="ngForm"
  (ngSubmit)="handleSubmit($event, signupForm)"
  class="flex flex-col gap-4 items-center py-2"
>
  <div class="flex flex-row gap-2">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="border-2 border-gray-400 rounded-lg p-2"
      ngModel
      required
    />
  </div>
  <div class="flex flex-row gap-2">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="border-2 border-gray-400 rounded-lg p-2"
      ngModel
      required
    />
  </div>
  <button type="submit" class="bg-green-400 p-4 rounded-lg">Signup</button>
  <p class="text-center">
    Already have an account?
    <button type="button" (click)="goToLogin()" class="text-blue-500">Login</button>
  </p>
</form>
